<!DOCTYPE html>
<!-- Created By CodingLab - www.codinglabweb.com -->
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <!---<title> Responsive Registration Form | CodingLab </title>--->
    <link rel="stylesheet" href="/static/css/register.css">
    <style>
      .active-register{
    color: white !important;
    background-color: #198754 !important;
    border-radius: 5px;
}
    </style>
    {{>bootstraphead}}
     <title>Register</title>
   </head>
<body>
  <nav class="navbar navbar-expand-lg bg-light">
        <div class="container-fluid">
          <a class="navbar-brand logo" href="/" ><img src={{details.brandIconUrl}} alt="" height="50px" width="110px"></a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link" aria-current="page" href="/">Home</a>
              </li>
            </ul>
            <form class="d-flex" role="search">
              {{!-- <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-success" type="submit">Search</button> --}}

              <a href="/register" class="btn btn-regiter active-register">Register</a>
              <a href="/admin-dashboard" class="btn btn-regiter ">Admin</a>
            </form>
          </div>
        </div>
      </nav>
  <div class="main">
  <div class="container">
    <div class="title" name="title">Registration</div>
    <div class="content">
      <form action="/register" method="post">
        <div class="user-details">
          <div class="input-box">
            <span class="details">Full Name<span class="star">*</span></span>
            <input type="text" placeholder="Enter your name" name="name" required>
          </div>
          <div class="input-box">
            <span class="details">Qalification<span class="star">*</span></span>
            <input type="text" placeholder="Enter your qualification" name="qualification" required>
          </div>
          <div class="input-box">
            <span class="details">Current College (NITs or IITs)<span class="star">*</span></span>
            <input type="text" placeholder="Enter your current college" name="college" required>
          </div>
          <div class="input-box">
            <span class="details">Experience-1<span class="star">*</span></span>
            <input type="text" placeholder="Enter your experience" name="experience1" required>
          </div>
          <div class="input-box">
            <span class="details">Experience-2<span class="star">*</span></span>
            <input type="text" placeholder="Enter your experience" name="experience2" required>
          </div>
          <div class="input-box">
            <span class="details">Experience-3<span class="star">*</span></span>
            <input type="text" placeholder="Enter your experience" name="experience3" required>
          </div>
          <div class="input-box">
            <span class="details">Experience-4<span class="star">*</span></span>
            <input type="text" placeholder="Enter your experience" name="experience4" required>
          </div>
          <div class="input-box">
            <span class="details">Email<span class="star">*</span></span>
            <input type="email" placeholder="Enter your email" name="email" required>
          </div>
          <div class="input-box">
            <span class="details">Phone Number<span class="star">*</span></span>
            <input type="number" placeholder="Enter your number" name="phoneNumber" required>
          </div>
          <div class="input-box">
            <span class="details">Image URL<span class="star">*</span></span>
            <input type="url" placeholder="Enter your image url" name="imageUrl" required>
          </div>
          <div class="input-box">
            <span class="details">Address<span class="star">*</span></span>
            <input type="text" placeholder="Eneter your address" name="address" required>
          </div>
          <div class="input-box">
            <span class="details">DOB<span class="star">*</span></span>
            <input type="date" placeholder="date of birth" name="dob" required>
          </div>
        </div>
        <div class="gender-details">
          <input type="radio" name="gender" id="dot-1" value="male">
          <input type="radio" name="gender" id="dot-2" value="female">
          <input type="radio" name="gender" id="dot-3" value="other">
          <span class="gender-title">Gender<span class="star">*</span></span>
          <div class="category">
            <label for="dot-1">
            <span class="dot one"></span>
            <span class="gender">Male</span>
          </label>
          <label for="dot-2">
            <span class="dot two"></span>
            <span class="gender">Female</span>
          </label>
          <label for="dot-3">
            <span class="dot three"></span>
            <span class="gender">Prefer not to say</span>
            </label>
          </div>
        </div>
        <div class="button">
          <input type="submit" value="Register">
        </div>
      </form>
    </div>
  </div>
  </div>
  <div class="footer-dark">
        <footer>
            <div class="container-footer">
                <div class="row">
                    <div class="col-sm-6 col-md-3 item">
                        <h3>Services</h3>
                        <ul>
                            <li><a href="#">Teachers</a></li>
                            <li><a href="#">NITs</a></li>
                            <li><a href="#">IITs</a></li>
                        </ul>
                    </div>
                    <div class="col-sm-6 col-md-3 item">
                        <h3>About</h3>
                        <ul>
                            <li><a href="#">Company</a></li>
                            <li><a href="#">Team</a></li>
                            <li><a href="#">Careers</a></li>
                        </ul>
                    </div>
                    <div class="col-md-6 item text">
                        <h3>The Study Plus</h3>
                        <p>The Study Plus Provides best and verified teacher from NITs and IITs. All teachers are most experience in our field. You can find the teachers for single topic or single question.</p>
                    </div>
                    <div class="col item social"><a href="#"><i class="fa fa-facebook" ></i></a><a href="#"><i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-dribbble"></i></a><a href="#"><i class="fa fa-behance"></i></a></div>
                </div>
                <p class="copyright">The Sutudy Plus © 2022</p>
            </div>
        </footer>
    </div>
<!-- JavaScript Bundle with Popper -->
  {{>bootstrapbottom}}
</body>
</html>
