<nav class="navbar navbar-expand-lg bg-light">
        <div class="container-fluid">
          <a class="navbar-brand logo" href="/"><img src={{data.brandIconUrl}} alt="" height="50px" width="150px"></a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active-home hide" aria-current="page" href="/">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link hide-teacher hide" aria-current="page" href="#teachers">Teacher</a>
              </li>
            </ul>
            <form class="d-flex" role="search">
              <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-success" type="submit">Search</button>

              <a href="register" class="btn btn-regiter active-register">Register</a>
              <a href="admin-dashboard" class="btn btn-regiter active-admin">Admin</a>
            </form>
          </div>
        </div>
      </nav>